/*

****************************
Seletor universal
*{
	border: 1px solid red;
}

h1{
	color: green;
}

.verde{
	color: green;
}

p.verde{
	color: green;
}

#cabecalho {
	border: 1px solid blue;
}

/* SELETOR FILHO DIRETO 

li>a{
	text-decoration: none;
}

p a{

}


div~p{

}

*/

/*************************************
*** HERANÇA E ESPECIFICIDADE 

body {
	color: red;
	font-size: 16px;
}

*{/*4
	color: red;
}
h2{/*3
	color:blue;
}
h2.verde{/*2
	color: verde;
}
h2#cabecalho{/*1
	color: yellow;
}


*/

/*******************************/
/* Navegação Vertical */

/*ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}


ul a{
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}

a:hover{
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
}

#home #navegacao .home a, #sobre #navegacao .sobre a
, #celulares #navegacao .celulares a{
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;

}
*/


/*****************************/

/*NAVEGAÇÃO HORIZONTAL*/

/*ul#navegacao {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 720px;
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x;
	float: left;
}

ul#navegacao li{
	float: left;
}

ul#navegacao a{
	display: block;
	padding: 0 2em;
	line-height: 2.2em;
	text-decoration: none;
	color: #FFF;
	background: url(../imagens/divisor.png) repeat-y left top;
}

ul#navegacao .primeiro a{
	background: none;
}

ul#navegacao a:hover{
	color: #085662;
	background: #44cade;
}

#home #navegacao .home a, #sobre #navegacao .sobre a
, #celulares #navegacao .celulares a{
	color: #085662;
	background: #44cade;

}*/

/**********************/
/* Barra de navegação com aba*/

/*
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720;
}

ul li{
	float: left;
	background: url(../imagens/aba-direita.png) no-repeat top right;
}

li a{
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	background: url(../imagens/aba-esquerda.png) no-repeat top left;
	color: #fff;
}

ul a:hover{
	color: #894a1f;
}

ul #atual {
	background: url(../imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a{
	background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;

}*/

/**************************/
/* Layout Fixo */
/*
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container{
	border: 1px solid red;
	width: 960px; 
	margin: 0 auto;
	padding: 0;
	background: #FFF url(../imagens/coluna.png) repeat-y left top;

}

#marca{
	border: 1px solid red;
	width: 100%;
	height:200px;
	background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
	text-align: center;
	
	line-height:200px;

}
#imagem{
	width: 90%;
	overflow: hidden;
	border: 1px solid red;
}
#conteudo{
	width: 75%;
	float: right;
}
#conteudo-1{
	float: left;
	width: 63%; 
}

img.img-noticia{
	width: 94%;
	padding: 2%;
	max-width: 600px;
}
#conteudo-2{
	float: right;
	width: 22%;
	background: #d1d1d1;
	font-size: 10px;
	padding: 10px
}

#navegacao{
	width: 20%;
	float: left;
	padding-top: 20x;
	padding-bottom: 20px;
	background: #d1d1d1;
}
#navegacao ul{
	list-style: none;
}

#navegacao li a{
	text-decoration: none;
}

#rodape{
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}
*/

/**********************/
/* ESTLIZANDO TABELA */
/*
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table{
	width: 600px;
	border-collapse: collapse;
}

th, td{
	padding: 7px;
}

th{
	text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.1em;
}

tr.alternado{
	background-color: #efefef;
}

tr:hover{
	background-color: #C3e6e5;
}

.numero{
	text-align: right;
}*/

/***********************/
/* ESTILIZANDO FORMULARIOS*/
/*
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

fieldset{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
	background: #f8f8f8;
}

legend{
	font-weight: bold;
}

label{	
	display: block;
	cursor: pointer;
}

input{
	width: 20em;
}

input.radio, input.checkbox, input.submit{
	width: auto;
}

.radio{
	margin-right: 1em;
}

textarea{
	width: 20em;
	height: 10em;
}*/

/**************************/
/* ESTILIZANDO FORMULARIO 2 */

/*body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #643d87 url(../imagens/fundo.jpg) no-repeat top center ;
}

#container{
	width: 400px;
	height: 300px;
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: auto;
	margin-top: 120px;
	text-align: center;
}

#container img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

input{
	height: 40px;
	width:  80%;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	background-repeat: no-repeat;
	background-position: 10px;
}

input.email{
	background-image: url(../imagens/icone-usuario.png) ;
}

input.senha{
	background-image: url(../imagens/icone-cadeado.png);
}

input.submit{
	color: #fff;
	background-color: #f79300;
	border: 2px solid #db7d00;
	padding: 5px 20px;
	height: 45px;
	width: 90%;

	background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
	background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
	background: -o-linear-gradient(to bottom, #faa600, #f68a00);
	background: linear-gradient(to bottom, #faa600, #f68a00);

}*/

/********************************/
/* ARREDONDAMENTO */ 


/*.caixa{
	width: 400px;
	background: #dedede url(../imagens/fundo-arredondamento.png) repeat-y;

}

.caixa h2{
	padding: 10px 20px 0 20px;
	background: url(../imagens/topo2.png) no-repeat left top;

}
.caixa p{
	padding: 0 20px;
}

.caixa .ultimo{
	background: url(../imagens/baixo2.png) no-repeat left bottom;
	padding-bottom: 20px;
*/

}
/*.caixa h2{
		padding: 10px 20px 0 20px;
}

.caixa p{
	padding: 0px 20px 20px 20px;
	background: url(../imagens/baixo2.png) no-repeat left bottom;
}*/

